/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
}

@theme {
  --color-second-black: #353535;
  --color-soft-border: #7a7a7a;
}

.loader {
  width: 2rem;
  height: 2rem;
  transform: rotate(0deg);
  animation: spin 2.4s linear infinite;
}

.loader line {
  stroke: #4f4f4f;
  stroke-width: 4;
  stroke-linecap: round;
  opacity: 0.8;
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 2.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 10;
    opacity: 0.8;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 0.4;
  }
  100% {
    stroke-dashoffset: 10;
    opacity: 0.8;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
